# RStudio hidden project files
.Rproj.user.Rhistory
.Rapp.history
.Rproj.user/
.RData
.Rproj.user/*
.Rproj

# Other hidden files
.git
.DS_Store

# Proect file
ixamin.github.io.Rproj
README.md

# directories
R/*
assets/*

# Example code in package build process
*-Ex.R

# produced vignettes
vignettes/*.html
vignettes/*.pdf


node_modules/
_defaults/*
_empty/*
logs/*
_site/*

code/TakeMeHome/www/.google-analytics.js

code/TakeMeHome/.keys.R

code/TakeMeHome/rsconnect/shinyapps.io/ixamin/TakeMeHome.dcf
