# RStudio hidden project files
.Rhistory
.Rapp.history
.Rproj.user/
.RData
.Rproj.user/*
.Rproj

# Other hidden files
.git
.DS_Store

# Proect file
ixamin.github.io.Rproj

# Example code in package build process
*-Ex.R

# produced vignettes
vignettes/*.html
vignettes/*.pdf


node_modules/
_defaults/*
_empty/*
logs/*

.
